/*Módulo de Layout de Grade CSS*/

/*Exibir propriedade
Um elemento HTML se torna um contêiner de grade quando sua displaypropriedade é definida como gridou inline-grid*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;/*propriedade define o número de colunas em seu layout de grade e pode definir a largura de cada coluna.*/
    grid-template-rows: 80px 200px;/*propriedade define a altura de cada linha*/
    background-color: #2196F3;
    padding: 10px;
    grid-column-gap: 50px; /*propriedade define a lacuna entre as colunas*/
    grid-row-gap: 50px; /*propriedade define a lacuna entre as linhas:*/
    /*grid-gap: 50px 100px; ropriedade é uma propriedade abreviada para grid-row-gape as grid-column-gappropriedades*/
    justify-content: space-evenly; /* a largura total da grade deve ser menor que a largura do contêiner para que a justify-contentpropriedade tenha algum efeito.*/
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.item1 {/* item de grade na linha da coluna 1 e deixe-o terminar na linha da coluna 3*/
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .item1 {/*item de grade na linha 1 da linha e deixe-o terminar na linha 3:*/
    grid-row-start: 1;
    grid-row-end: 3;
  }

/*<div class="grid-container">
  <div class="grid-item">1</div>
  <div class="grid-item">2</div>
  <div class="grid-item">3</div>  
  <div class="grid-item">4</div>
  <div class="grid-item">5</div>
  <div class="grid-item">6</div>  
  <div class="grid-item">7</div>
  <div class="grid-item">8</div>
  <div class="grid-item">9</div>  
</div>*/
